<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

  <?define ProductName = "Morphic Credentials" ?>
  <?define ProductManufacturer = "Raising the Floor" ?>
  <?define ProductVersion = "$(fun.AutoVersion(1.0))" ?>
  <?define UpgradeCode = "ba83073a-cfbf-453f-8547-01785f83162c" ?>

  <Product Id="*"
           Name="$(var.ProductName)"
           Manufacturer="$(var.ProductManufacturer)"
           Version="$(var.ProductVersion)"
           UpgradeCode="$(var.UpgradeCode)"
           Language="1033"
           >
    <Package InstallerVersion="100"
             Compressed="yes"
             InstallScope="perMachine"
             />
    <MediaTemplate EmbedCab="yes" />

    <!--  WixQueryOsWellKnownSID properties, see:
          http://wixtoolset.org/documentation/manual/v3/customactions/osinfo.html
    -->
    <PropertyRef Id="WIX_ACCOUNT_USERS" />
    <PropertyRef Id="WIX_ACCOUNT_ADMINISTRATORS" />

    <!-- Features  -->
    <Feature Id="DefaultFeature" Level="1">
      <ComponentRef Id="MorphicCredentials"/>
    </Feature>

    <!-- Components  -->
    <DirectoryRef Id="MorphicCredentialsProgramDataFolder" />

    <!-- Minimal user interface  -->
    <UI Id="UserInterface">
      <Property Id="WIXUI_INSTALLDIR" Value="TARGETDIR" />
      <Property Id="WixUI_Mode" Value="Custom" />

      <TextStyle Id="WixUI_Font_Normal" FaceName="Tahoma" Size="8" />
      <TextStyle Id="WixUI_Font_Bigger" FaceName="Tahoma" Size="9" Bold="yes" />
      <TextStyle Id="WixUI_Font_Title"  FaceName="Tahoma" Size="9" Bold="yes" />

      <Property Id="DefaultUIFont" Value="WixUI_Font_Normal" />

      <DialogRef Id="ProgressDlg" />
      <DialogRef Id="ErrorDlg" />
      <DialogRef Id="FilesInUse" />
      <DialogRef Id="FatalError" />
      <DialogRef Id="UserExit" />

      <Publish Dialog="ExitDialog" Control="Finish" Event="EndDialog" Value="Return" Order="999">1</Publish>
      <Publish Dialog="WelcomeDlg" Control="Next" Event="EndDialog" Value="Return" Order="2"></Publish>

      <Publish Dialog="MaintenanceWelcomeDlg" Control="Next" Event="NewDialog" Value="MaintenanceTypeDlg">1</Publish>
      <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg">1</Publish>

      <Publish Dialog="MaintenanceTypeDlg" Control="RepairButton" Event="NewDialog" Value="VerifyReadyDlg">1</Publish>
      <Publish Dialog="MaintenanceTypeDlg" Control="RemoveButton" Event="NewDialog" Value="VerifyReadyDlg">1</Publish>
      <Publish Dialog="MaintenanceTypeDlg" Control="Back" Event="NewDialog" Value="MaintenanceWelcomeDlg">1</Publish>
    </UI>
    <UIRef Id="WixUI_Common" />

    <!-- Folder structure  -->
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="CommonAppDataFolder" Name="ProgramData">
        <Directory Id="MorphicCredentialsProgramDataFolder" Name="$(var.ProductName)">
          <Component Id="MorphicCredentials" Guid="03936c9a-3365-4189-a5d6-7eee7b932f4a">
            <File Id="MorphicCredentialsFile" Source="secret.txt">
              <!-- Only administrators have read access -->
              <Permission GenericAll="no" User="[WIX_ACCOUNT_USERS]" />
              <Permission GenericRead="yes" Read="yes" User="[WIX_ACCOUNT_ADMINISTRATORS]" />
            </File>
          </Component>
        </Directory>
      </Directory>
    </Directory>

   </Product>
</Wix>
